---
import Navbar from "../components/Navbar.svelte";
import Footer from "../components/Footer.svelte";
import { Image  }from "astro:assets";
import pool from "../Assets/pool.jpg"
import cleaning from "../Assets/cleaning.jpg"
import tools from "../Assets/tools.jpg"
import Gallery from "../components/Gallery.astro";

import "@picocss/pico/css/pico.min.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="light dark" />
    <meta name="description" content="Pool Squad - Cleaning and maintenance of your pool in Hattiesburg Mississippi">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
    <title>Pool Squad</title>
	</head>
  <body class="pb-20 z-0">
    <canvas id="water" class="z-0"></canvas>
    <Navbar client:load />
    <main class="pt-30 z-100 relative">
      <section class="flex flex-col lg:flex-row-reverse gap-5">
      <div class="h-full max-h-400 items-stretch justify-center p-5 all:rounded-lg all:h-100% gap-5 flex flex-row lg:w-70%">
          <Image widths={[240, 540, 720, pool.width]} loading="eager" sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${pool.width}px`} class="object-cover w-50%" src={pool} alt="a clean pool"></Image>
          <div class="flex flex-col gap-5">
          <Image widths={[240, 540, 720, cleaning.width]} loading="eager" sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${cleaning.width}px`} class="object-cover" src={cleaning} alt="cleaning a pool"></Image>
          <Image widths={[240, 540, 720, tools.width]} loading="eager" sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${tools.width}px`} class="object-cover" src={tools} alt="a clean pool"></Image>
        </div>
      </div>
        <div class="w-full lg:w-50% p-5">
<h1>Welcome to Pool Squad</h1>
      Your Personal Pool Maintenance Expert! Pool Squad is your go-to destination for personalized, expert pool maintenance services. Owned and operated by Tyler Patterson, we offer tailored weekly pool maintenance to ensure your pool stays in pristine condition. Experience the difference of dedicated care from a trusted professional. Join Pool Squad today and let's keep your pool sparkling together!
          </div>
      </section> 
      <section class="relative mt-10 pb-5 px-10 bg-$pico-code-background-color">
        <div class="absolute top--10 left-0 right-0 w-full h-10 bg-$pico-code-background-color" style="clip-path: polygon(0 0, 0% 100%, 100% 100%)"></div>
        <hgroup>
        <h1>Services</h1>
<h2>Swimming Pool Full Service – Weekly Visit</h2>
        </hgroup>
        <ul>
<li>Service includes testing of water chemistry and addition of needed chemicals to maintain proper water balance within normal operating environment.</li>
<li>Pool surface, sides, and bottom are skimmed with net to collect debris.</li>
<li>Pool is vacuumed on an as needed basis. </li>
<li>Pool is brushed.</li>
<li>All baskets are emptied of debris.</li>
<li>Pool bottom and sides are vacuumed as needed.</li>
<li>Pool equipment is powered up and checked for proper operation, adjustments are made to optimize system performance.</li>
<li>Filter is backwashed if applicable.</li>
<li>Report is generated and made available to Homeowner/Resident upon request.</li>
        </ul>
        <div class="absolute bottom--10 left-0 right-0 w-full h-10 bg-$pico-code-background-color" style="clip-path: polygon(0 0,100% 0%,100% 100%)"></div>
      </section>
      <section class="mt-10 p-10">
        <hgroup>
          <h1>Gallery</h1>
<h2>Check out some of our work!</h2>
        </hgroup>
        <Gallery />
      </section>
    </main> 
    <Footer client:load />
    <script src="../bubble.js"></script>
	</body>
</html>

<style>

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: var(--pico-background-color);
  color: var(--pico-color);
}

@font-face {
  font-family: "squad-light";
  src: url("../Assets/light.ttf") format("truetype");
  font-weight: 100;
  font-style: light;
}

@font-face {
  font-family: "squad-mid";
  src: url("../Assets/mid.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "squad-bold";
  src: url("../Assets/bold.ttf") format("truetype");
  font-weight: 800;
  font-style: bold;
}

*{
  font-family: "squad-mid";
}

#water{
    width:100%;
    height:100%;
    inset: 0;
    position: absolute;
}
</style>
